
body {
    background-color: rgb(253, 253, 253);
    font-family: Arial, Helvetica, sans-serif;
    
}

h1 {
    margin-top: 1em;
    margin-bottom: 1em;
    color: black;
    font-size: 1.7rem;
    text-align: center;
}


.game-card {
    background-color: rgb(253,240,195);
    
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.game-icon {
    height: 4em;
}

.game-button {
    background-color: white;
    
    border: none;
    border-radius: 6em;

    padding: 2em 2em;
    margin-right: 1.3em;

    cursor: pointer;
}

.game-div {
    text-align: center;
    margin-bottom: 3em;
}

.result {
    color: black;
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
}

.moves {
    color: black;
}

.score {
    color: black;
}

.game-results {
    text-align: center;
    margin-bottom: 3em;
}

.reset-div {
    text-align: center;
}

.reset-button, .auto-play-button {
    background-color: white;
    border: none;
    font-weight: bold;
    border-radius: 1.6em;
    padding: 1em 1.5em;
}
